@use "/src/scss/util" as u;

.hero {
	--navigation-height: 80px;

	&__image-container {
		--overlay-angle: 81deg;
		--percentage: 20%;
		--image-overlay: linear-gradient(
			var(--overlay-angle),
			var(--background-primary) var(--percentage),
			transparent var(--percentage)
		);
		--cover-image: url("/src/assets/images/terence-allbright-01-mobile.jpg");

		min-height: 600px;
		background-image: var(--cover-image);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include u.breakpoint(medium) {
			--cover-image: url("/src/assets/images/terence-allbright-01.jpg");
			--image-fade: linear-gradient(95deg, var(--background-primary) 5%, transparent 25%);

			background-image: var(--image-fade), var(--image-overlay), var(--cover-image);
		}

		@include u.breakpoint(large) {
			background-image: var(--image-overlay), var(--cover-image);
			background-position: top center;
		}
	}

	&__content {
		--content-padding: 32px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: u.rem(32);

		padding-top: calc(var(--navigation-height) + var(--content-padding));
		padding-bottom: var(--content-padding);

		@include u.breakpoint(medium) {
			min-height: 60vh;
		}
	}

	&__heading {
		font-weight: 400;
		text-transform: uppercase;

		& .emphasis {
			display: block;
			margin-block-start: u.rem(20);
			border-top: solid 3px var(--heading-secondary);
			padding-top: u.rem(8);

			color: var(--heading-secondary);

			font-weight: 700;
		}
	}

	&__subheading {
		font-size: u.rem(20);
		font-size: clamp(u.rem(20), 1.15rem + 0.51vw, u.rem(24));
		line-height: 1.2;
	}

	&__cta {
		padding: u.rem(12) u.rem(32);
		border: solid 3px var(--cl-primary);
		border-radius: var(--br-light);

		font-family: var(--sans-serif);
		font-size: u.rem(16);
		font-size: clamp(u.rem(16), 0.5625rem + 1vw, u.rem(20));
		font-weight: 600;
		letter-spacing: 1px;

		color: var(--background-primary);
		background-color: var(--cl-primary);

		transition-property: color, background-color;
		transition-duration: 800ms;

		&::after {
			content: "➞";
			display: inline-block;
			margin-inline-start: 1ch;

			transition-property: transform;
			transition-duration: 800ms;
		}

		&:hover {
			color: var(--cl-primary);
			background-color: var(--background-primary-shade);
			transition-duration: 200ms;

			&::after {
				transition-duration: 200ms;
				transform: translateX(50%);
			}
		}

		&:active {
			background-color: var(--cl-secondary);
		}
	}
}
